.projectsContainer {

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.projectsStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    grid-auto-rows: minmax(50vh, 1fr);
}

.oneProject {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: 1 / 2;
    grid-row: 1;
    
}

.twoProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1;
   
}

.threeProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3 / 4;
    grid-row: 1;
   
}