.designContainer {
  
 margin-bottom:20vh;
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.designStyle {
top:10vh;
  position: relative;
  justify-content: center;
  
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vh, 1fr);

  background-color: rgba(0, 0, 0, 0.158);
}