.designContainer {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.designStyle {
  margin-top:10vh;
  margin-bottom:12vh;
  position: relative;
  justify-content: center;

  display: grid;
 
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vh, 1fr);

}