@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.App {

  text-align: center;
  background-image: url("./ressources/plexusgif.gif");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 100%;
 
  cursor:url(./ressources/pointer.svg),pointer;
}
a{
  cursor:url(./ressources/pointer.svg),pointer;
}
img{
  cursor:url(./ressources/eyePointer.svg),pointer;
}
span{
  cursor:url(./ressources/pointer.svg),pointer;
}
input{
  cursor:url(./ressources/pointer.svg),pointer;
}