.slider {
    position: relative;
    height: 80vh;


}


.next {
    z-index: 999;
    position: relative;
    right: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: teal;
    user-select: none;
}

.prev {
    z-index: 999;
    position: relative;
    left: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 128, 128, 0.80);

    user-select: none;
}

a.prev:hover,
a.next:hover {
    background-color: rgba(0, 0, 0, 0.80);
}


.slide {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 3 ease-in;
}

.slide p,
.slide h1,
.slide h2,
.slide h3 {

    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 9, 133);


}

.slide h1 {
    font-size: 5vw;
}

.slide h2 {
    font-size: 4vw;
}

.slide p {
    font-size: 4vw;
    font-weight: bold;

}


.slide.active {

    opacity: 1;
    transition: 2s ease-out;
}