.slider {
    position: relative;
    height: 80vh;

}


.next {
    z-index: 999;
    position: relative;
    right: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: teal;
    user-select: none;
}

.prev {
    z-index: 999;
    position: relative;
    left: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 128, 128, 0.80);

    user-select: none;
}

a.prev:hover,
a.next:hover {
    background-color: rgba(0, 0, 0, 0.80);
}


.slide {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 3 ease-in;
}
.slide p,
.slide h1,
.slide h2 {
    color: #fff;
    text-shadow: 5px 5px 5px #000;

}
.slide h1{font-size: 12vh;}
.slide h2{font-size: 8vh;}
.slide p{font-size: 8vh;}


.slide.active {

    opacity: 1;
    transition: 2s ease-out;
}

